In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LinearRegression

In [3]:
#load data
df = pd.read_excel('Real estate valuation data set.xlsx', index_col=0)
print(df.shape)
df.head()

(414, 7)

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,,,,,,,
1,2012.916667,32.0,84.87882,10,24.98298,121.54024,37.9
2,2012.916667,19.5,306.59470,9,24.98034,121.53951,42.2
3,2013.583333,13.3,561.98450,5,24.98746,121.54391,47.3
4,2013.500000,13.3,561.98450,5,24.98746,121.54391,54.8
5,2012.833333,5.0,390.56840,5,24.97937,121.54245,43.1

In [4]:
#missing value
df.isnull().sum()

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [23]:
#Scale numeric data 
scaler = StandardScaler()
num_cols = df.columns
df_copy = df.copy()
df_copy[num_cols] = scaler.fit_transform(df_copy[num_cols])
df_copy.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,,,,,,,
1,-0.824722,1.255628,-0.792495,2.007407,1.125430,0.448762,-0.005901
2,-0.824722,0.157086,-0.616612,1.667503,0.912444,0.401139,0.310507
3,1.542244,-0.387791,-0.414015,0.307885,1.486860,0.688183,0.685782
4,1.246373,-0.387791,-0.414015,0.307885,1.486860,0.688183,1.237656
5,-1.120593,-1.117223,-0.549997,0.307885,0.834188,0.592937,0.376732

In [29]:
#Split data
X = df_copy.drop('Y house price of unit area', axis=1)
Y = df_copy['Y house price of unit area']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1, shuffle=True)

In [30]:
#Modeling
linearReg = LinearRegression()
linearReg.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred = linearReg.predict(X_test)
print('Score: ',linearReg.score(X_test, y_test))

Score:  0.703445162753422